
.catalog {
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-description {
    margin-bottom: 10px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.botao-comprar {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
